<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
<modules>
    <remove name="WebDAVModule" />
</modules>
<handlers>
    <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\progra~1\pffana~1\pff\Scripts\python.exe|C:\progra~1\pffana~1\pff\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
</handlers>
</system.webServer>
<appSettings>
    <add key="WSGI_HANDLER" value="app.app" />
    <add key="PYTHONPATH" value="C:\progra~1\pffana~1\pff\Scripts\flask" />
</appSettings>
</configuration>